In [5]:
# import libraries
import numpy as np
import pandas as pd

In [16]:
# Load the selected Data Set.
df = pd.read_csv('telco_customer_churn.csv')
# X = df.iloc[:, :-1].values
# y = df.iloc[:, -1].values

In [7]:
df.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [35]:
# map = gender(0, 1) - male = 1, female = 0
def data_to_number(x):
    if x == "Male":
        return 1
    else:
        return 0

df['gender'] = df["gender"].map(data_to_number)

In [36]:
print(df['gender'])

0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    0
7042    0
Name: gender, Length: 7043, dtype: int64

In [37]:
# map = partner(0, 1) - yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0

df['Partner'] = df["Partner"].map(data_to_number)

In [38]:
print(df['Partner'])

0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    0
7042    0
Name: Partner, Length: 7043, dtype: int64

In [42]:
# map = dependents (0, 1) - yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0

df['Dependents'] = df["Dependents"].map(data_to_number)

In [43]:
print(df['Dependents'])

0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    0
7042    0
Name: Dependents, Length: 7043, dtype: int64

In [44]:
# map = phoneserivce(0, 1) - yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0

df['PhoneService'] = df["PhoneService"].map(data_to_number)

In [45]:
print(df['PhoneService'])

0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    0
7042    0
Name: PhoneService, Length: 7043, dtype: int64

In [50]:
# map = multipleLines(-1, 0, 1) - yes = 1, no = 0, else = -1
def data_to_number(x):
    if x == "Yes":
        return 1
    elif x == "No":
        return 0
    else:
        return -1

df['MultipleLines'] = df["MultipleLines"].map(data_to_number)

In [51]:
print(df['MultipleLines'])

0      -1
1      -1
2      -1
3      -1
4      -1
       ..
7038   -1
7039   -1
7040   -1
7041   -1
7042   -1
Name: MultipleLines, Length: 7043, dtype: int64

In [52]:
# map = InternetService(0, 1) - yes = DSL, no = Fiber optic
def data_to_number(x):
    if x == "DSL":
        return 1
    else:
        return 0
    
df['InternetService'] = df["InternetService"].map(data_to_number)

In [53]:
print(df['InternetService'])

0       1
1       1
2       1
3       1
4       0
       ..
7038    1
7039    0
7040    1
7041    0
7042    0
Name: InternetService, Length: 7043, dtype: int64

In [65]:
# map = OnlineSecurity(0, 1) - yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0
    
df['OnlineSecurity'] = df["OnlineSecurity"].map(data_to_number)

In [66]:
print(df['OnlineSecurity'])

0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    0
7042    0
Name: OnlineSecurity, Length: 7043, dtype: int64

In [61]:
# map = OnlineBackup(0, 1) - yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0
    
df['OnlineBackup'] = df["OnlineBackup"].map(data_to_number)

In [62]:
print(df['OnlineBackup'])

0       1
1       0
2       1
3       0
4       0
       ..
7038    0
7039    1
7040    0
7041    0
7042    0
Name: OnlineBackup, Length: 7043, dtype: int64

In [69]:
# map = DeviceProtection(0, 1)- yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0
    
df['DeviceProtection'] = df["DeviceProtection"].map(data_to_number)

In [70]:
print(df['DeviceProtection'])

0       0
1       1
2       0
3       1
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    1
Name: DeviceProtection, Length: 7043, dtype: int64

In [72]:
# map = TechSupport(0, 1)- yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0
    
df['TechSupport'] = df["TechSupport"].map(data_to_number)

In [73]:
print(df['TechSupport'])

0       0
1       0
2       0
3       1
4       0
       ..
7038    1
7039    0
7040    0
7041    0
7042    1
Name: TechSupport, Length: 7043, dtype: int64

In [78]:
# map = StreamingTV(0, 1)- yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0
    
df['StreamingTV'] = df["StreamingTV"].map(data_to_number)

In [79]:
print(df['StreamingTV'])

0       0
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    1
Name: StreamingTV, Length: 7043, dtype: int64

In [80]:
# map = StreamingMovies(0, 1) - yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0
    
df['StreamingMovies'] = df["StreamingMovies"].map(data_to_number)

In [81]:
print(df['StreamingMovies'])

0       0
1       0
2       0
3       0
4       0
       ..
7038    0
7039    0
7040    0
7041    0
7042    0
Name: StreamingMovies, Length: 7043, dtype: int64

In [85]:
# map = Contract(0, 1) one year = 1, month-to-month = 0
def data_to_number(x):
    if x == "One year":
        return 1
    else:
        return 0
    
df['Contract'] = df["Contract"].map(data_to_number)

In [86]:
print(df['Contract'])

0       0
1       1
2       0
3       1
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    0
Name: Contract, Length: 7043, dtype: int64

In [88]:
# map = PaperlessBilling(0, 1) - yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0
    
df['PaperlessBilling'] = df["PaperlessBilling"].map(data_to_number)

In [89]:
print(df['PaperlessBilling'])

0       1
1       0
2       1
3       0
4       1
       ..
7038    1
7039    1
7040    1
7041    1
7042    1
Name: PaperlessBilling, Length: 7043, dtype: int64

In [103]:
# map = PaymentMethod(0, 1) Credit card (automatic), Bank transfer (automatic) = 1, else = 0
def data_to_number(x):
    if x == "Credit card (automatic)" or x == "Bank transfer (automatic)":
        return 1
    else:
        return 0
    
df['PaymentMethod'] = df["PaymentMethod"].map(data_to_number)

In [104]:
print(df['PaymentMethod'])

0       0
1       0
2       0
3       1
4       0
       ..
7038    0
7039    1
7040    0
7041    0
7042    1
Name: PaymentMethod, Length: 7043, dtype: int64

In [92]:
# map = churn(0, 1) - yes = 1, no = 0
def data_to_number(x):
    if x == "Yes":
        return 1
    else:
        return 0
    
df['Churn'] = df["Churn"].map(data_to_number)

In [93]:
print(df['Churn'])

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

In [105]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,0,0,1,0,-1,1,0,...,0,0,0,0,0,1,0,29.85,29.85,0
1,5575-GNVDE,0,0,0,0,34,0,-1,1,0,...,1,0,0,0,1,0,0,56.95,1889.5,0
2,3668-QPYBK,0,0,0,0,2,0,-1,1,0,...,0,0,0,0,0,1,0,53.85,108.15,1
3,7795-CFOCW,0,0,0,0,45,0,-1,1,0,...,1,1,0,0,1,0,1,42.30,1840.75,0
4,9237-HQITU,0,0,0,0,2,0,-1,0,0,...,0,0,0,0,0,1,0,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,0,0,0,0,24,0,-1,1,0,...,1,1,1,0,1,1,0,84.80,1990.5,0
7039,2234-XADUH,0,0,0,0,72,0,-1,0,0,...,1,0,1,0,1,1,1,103.20,7362.9,0
7040,4801-JZAZL,0,0,0,0,11,0,-1,1,0,...,0,0,0,0,0,1,0,29.60,346.45,0
7041,8361-LTMKD,0,1,0,0,4,0,-1,0,0,...,0,0,0,0,0,1,0,74.40,306.6,1
7042,3186-AJIEK,0,0,0,0,66,0,-1,0,0,...,1,1,1,0,0,1,1,105.65,6844.5,0

In [106]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [107]:
# Analyze and Preprocess your data
df.describe()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,Churn
count,7043.0,7043.000000,7043.0,7043.0,7043.000000,7043.0,7043.0,7043.000000,7043.0,7043.000000,7043.000000,7043.000000,7043.000000,7043.0,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.0,0.162147,0.0,0.0,32.371149,0.0,-1.0,0.343746,0.0,0.344881,0.343888,0.290217,0.384353,0.0,0.209144,0.592219,0.435326,64.761692,0.265370
std,0.0,0.368612,0.0,0.0,24.559481,0.0,0.0,0.474991,0.0,0.475363,0.475038,0.453895,0.486477,0.0,0.406726,0.491457,0.495835,30.090047,0.441561
min,0.0,0.000000,0.0,0.0,0.000000,0.0,-1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,18.250000,0.000000
25%,0.0,0.000000,0.0,0.0,9.000000,0.0,-1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,35.500000,0.000000
50%,0.0,0.000000,0.0,0.0,29.000000,0.0,-1.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,70.350000,0.000000
75%,0.0,0.000000,0.0,0.0,55.000000,0.0,-1.0,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.0,0.000000,1.000000,1.000000,89.850000,1.000000
max,0.0,1.000000,0.0,0.0,72.000000,0.0,-1.0,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,118.750000,1.000000

In [108]:
df.info()  # view information about the data, including the data types of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   int64
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   int64
 4   Dependents        7043 non-null   int64
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   int64
 7   MultipleLines     7043 non-null   int64
 8   InternetService   7043 non-null   int64
 9   OnlineSecurity    7043 non-null   int64
 10  OnlineBackup      7043 non-null   int64
 11  DeviceProtection  7043 non-null   int64
 12  TechSupport       7043 non-null   int64
 13  StreamingTV       7043 non-null   int64
 14  StreamingMovies   7043 non-null   int64
 15  Contract          7043 non-null   int64
 16  PaperlessBilling  7043 non-null   int64
 17  PaymentMethod     7043 non-null   int64
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   int64
dtypes: float64(1), int64(18), object(2)
memory usage: 1.1+ MB

In [114]:
from sklearn.model_selection import train_test_split

# X = df.drop(['Churn', 'customerID'], axis=1)  # feature columns
X = df[['gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges']]
y = df['Churn']  # target column

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [115]:
X

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,0,0,1,0,-1,1,0,1,0,0,0,0,0,1,0,29.85,29.85
1,0,0,0,0,34,0,-1,1,0,0,1,0,0,0,1,0,0,56.95,1889.5
2,0,0,0,0,2,0,-1,1,0,1,0,0,0,0,0,1,0,53.85,108.15
3,0,0,0,0,45,0,-1,1,0,0,1,1,0,0,1,0,1,42.30,1840.75
4,0,0,0,0,2,0,-1,0,0,0,0,0,0,0,0,1,0,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,0,0,24,0,-1,1,0,0,1,1,1,0,1,1,0,84.80,1990.5
7039,0,0,0,0,72,0,-1,0,0,1,1,0,1,0,1,1,1,103.20,7362.9
7040,0,0,0,0,11,0,-1,1,0,0,0,0,0,0,0,1,0,29.60,346.45
7041,0,1,0,0,4,0,-1,0,0,0,0,0,0,0,0,1,0,74.40,306.6
7042,0,0,0,0,66,0,-1,0,0,0,1,1,1,0,0,1,1,105.65,6844.5

In [112]:
y

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

In [128]:
# Create an instance of Multinomial Naive Bayes  
# (https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html#sklearn.naive_bayes.MultinomialNB)
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()

model = MultinomialNB(alpha=1.0, fit_prior=True, class_prior=None)

# import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# load the data and split it into training and test sets
X = df[['SeniorCitizen', 'tenure', 'MonthlyCharges']]
y = df['Churn']  # target column
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 3, random_state=42)

# train the model
model.fit(X_train, y_train)

# make predictions on the test set
y_pred = model.predict(X_test)

# evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Model accuracy: {accuracy:.2f}')

Model accuracy: 1.00

In [129]:
# Create an instance of Bernoulli Naive Bayes 
# (https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.BernoulliNB.html#sklearn.naive_bayes.BernoulliNB)


from sklearn.naive_bayes import BernoulliNB

model = BernoulliNB()

model = BernoulliNB(alpha=1.0, fit_prior=True, class_prior=None)

# import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# load the data and split it into training and test sets
X = df[['SeniorCitizen', 'tenure', 'MonthlyCharges']]
y = df['Churn']  # target column
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 3, random_state=42)

# train the model
model.fit(X_train, y_train)

# make predictions on the test set
y_pred = model.predict(X_test)

# evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Model accuracy: {accuracy:.2f}')

Model accuracy: 0.67

In [130]:
# Train every version of Naive Bayes on the train data set and make predictions on the corresponding test subsets.
# Get the accuracy of model.

from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# load the data and split it into training and test sets
X = df[['SeniorCitizen', 'tenure', 'MonthlyCharges']]
y = df['Churn']  # target column

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

gaussian_nb = GaussianNB()
multinomial_nb = MultinomialNB()
bernoulli_nb = BernoulliNB()


# train the Gaussian Naive Bayes model and make predictions on the test set
gaussian_nb.fit(X_train, y_train)
y_pred = gaussian_nb.predict(X_test)

# evaluate the model
accuracy_ga = accuracy_score(y_test, y_pred)
print(f'Gaussian Naive Bayes accuracy: {accuracy_ga:.2f}')

# train the Multinomial Naive Bayes model and make predictions on the test set
multinomial_nb.fit(X_train, y_train)
y_pred = multinomial_nb.predict(X_test)

# evaluate the model
accuracy_mu = accuracy_score(y_test, y_pred)
print(f'Multinomial Naive Bayes accuracy: {accuracy_mu:.2f}')

# train the Bernoulli Naive Bayes model and make predictions on the test set
bernoulli_nb.fit(X_train, y_train)
y_pred = bernoulli_nb.predict(X_test)

# evaluate the model
accuracy_be = accuracy_score(y_test, y_pred)
print(f'Bernoulli Naive Bayes accuracy: {accuracy_be:.2f}')

Gaussian Naive Bayes accuracy: 0.76
Multinomial Naive Bayes accuracy: 0.72
Bernoulli Naive Bayes accuracy: 0.74

In [131]:
# Create a table of the following structure as a pandas data frame.
# define the data for the table
data = {
    'ML model': ['GaussianNB', 'MultinomialNB', 'BernoulliNB'],
    'Accuracy': [accuracy_ga, accuracy_mu, accuracy_be],
    
}

# create the DataFrame
new_df = pd.DataFrame(data)

# display the DataFrame
print(new_df)

        ML model  Accuracy
0     GaussianNB  0.761533
1  MultinomialNB  0.721789
2    BernoulliNB  0.735273

Conluzia

Dupa cum putem observa GaussianNB, MultinomialNB, BernoulliNB au acurateÈ›e diferitÄƒ Ã®nsÄƒ Ã®n deajuns de aproape una faÈ›a de alta, È™i de asemnea putem spune cÄƒ acurateÈ›a modelului este Ã®naltÄƒ